<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Event</th>
      <th>% Users</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Event 1</td>
      <td>20.8</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Event 2</td>
      <td>34.6</td>
      <td>36</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Event 3</td>
      <td>47</td>
      <td>76</td>
    </tr>
  </tbody>
</table>