<div class="row">
  <div class="col-lg-6">
      <div class="task-progress">
        <h3 class="title-3">Chat Over Video</h3><br /><br /><br />
        <div class="au-skill-container">
            <div class="au-progress">
                <span class="au-progress__title">Daily</span>
                <div class="au-progress__bar">
                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="90">
                        <span class="au-progress__value js-value"></span>
                    </div>
                </div>
            </div>
            <div class="au-progress">
                <span class="au-progress__title">Weekly</span>
                <div class="au-progress__bar">
                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="85">
                        <span class="au-progress__value js-value"></span>
                    </div>
                </div>
            </div>
            <div class="au-progress">
                <span class="au-progress__title">Monthly</span>
                <div class="au-progress__bar">
                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="95">
                        <span class="au-progress__value js-value"></span>
                    </div>
                </div>
            </div>
        </div>
    	</div>
  </div>
  <div class="col-lg-6">
    <div class="task-progress">
      <h3 class="title-3">Social Camera</h3><br /><br /><br />
      <div class="au-skill-container">
          <div class="au-progress">
              <span class="au-progress__title">Daily</span>
              <div class="au-progress__bar">
                  <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="60">
                      <span class="au-progress__value js-value"></span>
                  </div>
              </div>
          </div>
          <div class="au-progress">
              <span class="au-progress__title">Weekly</span>
              <div class="au-progress__bar">
                  <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="55.6">
                      <span class="au-progress__value js-value"></span>
                  </div>
              </div>
          </div>
          <div class="au-progress">
              <span class="au-progress__title">Monthly</span>
              <div class="au-progress__bar">
                  <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="78.3">
                      <span class="au-progress__value js-value"></span>
                  </div>
              </div>
          </div>
      </div>
  	</div>
  </div>
</div>
<div class="row">
	<div class="col-lg-6">
      <div class="task-progress">
        <h3 class="title-3">My Galaxy Stories</h3><br /><br /><br />
        <div class="au-skill-container">
            <div class="au-progress">
                <span class="au-progress__title">Daily</span>
                <div class="au-progress__bar">
                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="40">
                        <span class="au-progress__value js-value"></span>
                    </div>
                </div>
            </div>
            <div class="au-progress">
                <span class="au-progress__title">Weekly</span>
                <div class="au-progress__bar">
                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="63">
                        <span class="au-progress__value js-value"></span>
                    </div>
                </div>
            </div>
            <div class="au-progress">
                <span class="au-progress__title">Monthly</span>
                <div class="au-progress__bar">
                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="37">
                        <span class="au-progress__value js-value"></span>
                    </div>
                </div>
            </div>
        </div>
    	</div>
  </div>
  <div class="col-lg-6">
    <div class="task-progress">
      <h3 class="title-3">My galaxy Widget</h3><br /><br /><br />
      <div class="au-skill-container">
          <div class="au-progress">
              <span class="au-progress__title">Daily</span>
              <div class="au-progress__bar">
                  <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="90">
                      <span class="au-progress__value js-value"></span>
                  </div>
              </div>
          </div>
          <div class="au-progress">
              <span class="au-progress__title">Weekly</span>
              <div class="au-progress__bar">
                  <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="85">
                      <span class="au-progress__value js-value"></span>
                  </div>
              </div>
          </div>
          <div class="au-progress">
              <span class="au-progress__title">Monthly</span>
              <div class="au-progress__bar">
                  <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="95">
                      <span class="au-progress__value js-value"></span>
                  </div>
              </div>
          </div>
      </div>
  	</div>
  </div>
</div>