<table class="" style="width:100%">
  <tr>
    <th style="width:40%;">
      <!-- <p>Top 5</p> -->
    </th>
    <th></th>
    <th style="width:40%"></th>
  </tr>
  <tr>
    <td>
      <canvas id="usageCanvas" height="150" width="140"></canvas>
    </td>
    <td></td>
    <td>
      <table class="tile_info" style="width:100%">
        <th style="width:50%">
         <p class="">Device</p>
        </th>  
        <th>
          <p class="" >Usage</p>
        </th>
        <tr>
          <td>
            <p><i class="fa fa-square blue"></i>J6 </p>
          </td>
          <td>71.42</td>
        </tr>
        <tr>
          <td>
            <p><i class="fa fa-square green"></i>A6/A6+ </p>
          </td>
          <td>28.58</td>
        </tr>
      </table>
    </td>
  </tr>
</table>